<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{$basePath}/css/main.css">

	<title>{ifset title}{include title|stripHtml} {/ifset}</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{block header}
		<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
			<div class="container">
				<div class="col-12">
					<a class="navbar-brand" href="#">ITS - Issue tracking system</a>
					<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<!-- Display item without logged user.
                            <li class="nav-item">
                                <a class="nav-link" href="#">Log in</a>
                            </li>
                            -->
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{if $user->isLoggedIn()}
										José Manuel Cerqueira Afonso dos Santos
									{else}
									    Log In
									{/if}
								</a>

								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
									{if $user->isLoggedIn()}
									<a class="dropdown-item" href="#">My tickets</a>
									<a class="dropdown-item" href="#">Profile</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Log out</a>
									{/if}
								</div>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	{/block}

	{include content}

	{define paging}
		{if $paginator->pageCount > 1}
			{var $prevPagesCount = 3}
			{var $nextPagesCount = 3}
			<nav aria-label="Page navigation example" id="paging">
				<ul class="pagination justify-content-center">
					<li class="page-item {$paginator->isFirst() ? "disabled"}">
						<a class="page-link" n:href="default, page => $paginator->page-1" tabindex="-1" aria-disabled="{$paginator->isFirst() ? "true" : "false"}">Previous</a>
					</li>
					{if !$paginator->isFirst()} <!--Display first page-->
						<li class="page-item"><a class="page-link" n:href="default, page => 1">1</a></li>
					{/if}

					{var $pageIterator = $paginator->page - $prevPagesCount - 1}
					{if $pageIterator > 1} <!--Insert ellipsis after first page if it's too far-->
						<li class="page-item disabled"><a class="page-link">...</a></li>
						{var $pageIterator = $pageIterator + 1}
					{/if}
					{while $pageIterator < $paginator->page} <!-- 3 more next numbered pages if available-->
						{if $pageIterator > 1}
							<li class="page-item"><a class="page-link" n:href="default, page => $pageIterator">{$pageIterator}</a></li>
						{/if}
						{var $pageIterator = $pageIterator + 1}
					{/while}

					<li class="page-item active"><a class="page-link" n:href="default">{$paginator->page}</a></li>
					{var $pageIterator = $paginator->page + 1}
					{while $pageIterator <= $paginator->page + $nextPagesCount && $pageIterator < $paginator->pageCount} <!-- 3 more next numbered pages if available-->
						<li class="page-item"><a class="page-link" n:href="default, page => $pageIterator">{$pageIterator}</a></li>
						{var $pageIterator = $pageIterator + 1}
					{/while}
					{if $pageIterator < $paginator->pageCount} <!-- Insert ellipsis before last page if it's further-->
						<li class="page-item disabled"><a class="page-link">...</a></li>
					{/if}

					{if !$paginator->isLast()} <!-- Display last page-->
						<li class="page-item"><a class="page-link" n:href="default, page => $paginator->pageCount">{$paginator->pageCount}</a></li>
					{/if}

					<li class="page-item {$paginator->isLast() ? "disabled"}">
						<a class="page-link" n:href="default, page => $paginator->page+1" aria-disabled="{$paginator->isLast() ? "true" : "false"}">Next</a>
					</li>
				</ul>
			</nav>
		{/if}
	{/define}
	{block scripts}
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}

</body>
</html>
