<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="{$basePath}/css/main.css">

	<title>{ifset title}{include title|stripHtml} {/ifset}</title>
</head>

<body>
	<div n:foreach="$flashes as $flash" class="alert-flash alert alert-danger alert-dismissible fade show" role="alert">
		{$flash->message}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	{block header}
		<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
			<div class="container">
				<div class="col-12">
					<a class="navbar-brand" href="/">ITS - Issue tracking system</a>
					<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									{if $user->isLoggedIn()}
										{$userInfo['firstName']} {$userInfo['surname']}
									{else}
									    Log In
									{/if}
								</a>

								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
									<!-- Logged user -->
									{if $user->isLoggedIn()}
										<a class="dropdown-item" n:href="Homepage: userid => $user->id">My tickets</a>
										<a class="dropdown-item" n:href="UserDetail: userid => $user->id">Profile</a>

										{if $userInfo['role'] >= $permissionMap->convert('common_worker')}
											<a class="dropdown-item" n:href="Tasks: assignee => $user->id">My tasks</a>
										{/if}

										{if $userInfo['role'] >= $permissionMap->convert('manager')}
											<a class="dropdown-item" n:href="Tasks: creator => $user->id">Created tasks</a>
										{/if}

										{if $userInfo['role'] >= $permissionMap->convert('superior')}
											<a class="dropdown-item" n:href="Products:">Products</a>
										{/if}

										{if $userInfo['role'] >= $permissionMap->convert('administrator')}
											<a class="dropdown-item" n:href="Users:">Users</a>
										{/if}

										<div class="dropdown-divider"></div>
										<a class="dropdown-item" n:href=":logout">Log out</a>

									<!-- Login form for unsigned user -->
									{else}
										{form login}
										<div class="dropdown-item dropdown-login-form">
											<div class="form-group">
												<label n:name="login">Your login</label>
												<input n:name="login" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter login">
												<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
											</div>
										</div>
										<div class="dropdown-item dropdown-login-form">
											<div class="form-group">
												<label n:name="password">Password</label>
												<input n:name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
											</div>
										</div>
										<button type="submit" n:name="send" class="dropdown-item dropdown-login-button">Log in</button>
										{/form}
									{/if}
								</div>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	{/block}

	{include content}

	{block footer}
		<footer>
			<section class="container">
				<div id="footer">
					<div id="footer-school" class="footer-creators">
						<div class="authors-foot"><a href="https://www.vutbr.cz/en/"> Brno University of Technology</a></div>
						<div class="authors-foot2">Faculty of information technologies</div>
						<img src="/img/static/fit_logo.png">
					</div>
					<div class="footer-creators">
						<div class="authors-foot">Authors</div>
						<!-- <hr class="white-line"> -->
						<table>
							<thead class="thead-dark">
							<tr>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
							</thead>
							<tbody id="table-body-foot">
							<tr>
								<td><a class="name-href-foot">Andrea Ficková</a></td>
								<td><a href="mailto:xficko00@stud.fit.vutbr.cz" class="name-href-foot">xficko00@stud.fit.vutbr.cz</a></td>
							</tr>
							<tr>
								<td><a class="name-href-foot">Jiří Juřica</a></td>
								<td><a href="mailto:xjuric29@stud.fit.vutbr.cz" class="name-href-foot">xjuric29@stud.fit.vutbr.cz</a></td>
							</tr>
							<tr>
								<td><a class="name-href-foot">Michal Pospíšil</a></td>
								<td><a href="mailto:xpospi95@stud.fit.vutbr.cz" class="name-href-foot">xpospi95@stud.fit.vutbr.cz</a></td>
							</tr>
							</tbody>
						</table>
						<!-- <hr class="white-line"> -->
					</div>
					<div class="footer-creators">
						<div class="authors-foot">Information systems</div>
						<div class="authors-foot2">Issue tracking system</div>
						<div class="authors-foot2">2019/2020</div>
					</div>
				</div>
			</section>
		</footer>
	{/block}

	{define paging}
		{if $paginator->pageCount > 1}
			{var $prevPagesCount = 3}
			{var $nextPagesCount = 3}
			<nav aria-label="Page navigation example" id="paging">
				<ul class="pagination justify-content-center">
					<li class="page-item {$paginator->isFirst() ? "disabled"}">
						<a class="page-link" n:href="default, page => $paginator->page-1" tabindex="-1" aria-disabled="{$paginator->isFirst() ? "true" : "false"}">Previous</a>
					</li>
					{if !$paginator->isFirst()} <!--Display first page-->
						<li class="page-item"><a class="page-link" n:href="default, page => 1">1</a></li>
					{/if}

					{var $pageIterator = $paginator->page - $prevPagesCount - 1}
					{if $pageIterator > 1} <!--Insert ellipsis after first page if it's too far-->
						<li class="page-item disabled"><a class="page-link">...</a></li>
						{var $pageIterator = $pageIterator + 1}
					{/if}
					{while $pageIterator < $paginator->page} <!-- 3 more next numbered pages if available-->
						{if $pageIterator > 1}
							<li class="page-item"><a class="page-link" n:href="default, page => $pageIterator">{$pageIterator}</a></li>
						{/if}
						{var $pageIterator = $pageIterator + 1}
					{/while}

					<li class="page-item active"><a class="page-link" n:href="default">{$paginator->page}</a></li>
					{var $pageIterator = $paginator->page + 1}
					{while $pageIterator <= $paginator->page + $nextPagesCount && $pageIterator < $paginator->pageCount} <!-- 3 more next numbered pages if available-->
						<li class="page-item"><a class="page-link" n:href="default, page => $pageIterator">{$pageIterator}</a></li>
						{var $pageIterator = $pageIterator + 1}
					{/while}
					{if $pageIterator < $paginator->pageCount} <!-- Insert ellipsis before last page if it's further-->
						<li class="page-item disabled"><a class="page-link">...</a></li>
					{/if}

					{if !$paginator->isLast()} <!-- Display last page-->
						<li class="page-item"><a class="page-link" n:href="default, page => $paginator->pageCount">{$paginator->pageCount}</a></li>
					{/if}

					<li class="page-item {$paginator->isLast() ? "disabled"}">
						<a class="page-link" n:href="default, page => $paginator->page+1" aria-disabled="{$paginator->isLast() ? "true" : "false"}">Next</a>
					</li>
				</ul>
			</nav>
		{/if}
	{/define}
	{block scripts}
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
	{/block}

</body>
</html>

{define insufficientPermissions}
	<div class="problem">
		<img id="sad-image" src="/img/static/shocked.svg">
		<div id="sad-text"><h3>You are not allowed to do this.</h3></div>
		<!-- toto neskor do paticky -->
		<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	</div>
{/define}

{define nothingHere}
	<div class="problem">
		<img id="sad-image" src="/img/static/sad.svg">
		<div id="sad-text"><h3>Nothing to see here.</h3></div>
		<!-- toto neskor do paticky -->
		<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	</div>
{/define}

{define nothingFound}
	<div class="problem">
		<img id="sad-image" src="/img/static/sad.svg">
		<div id="sad-text"><h3>It's embarrassing, but nothing like that was found.</h3></div>
		<!-- toto neskor do paticky -->
		<div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
	</div>
{/define}