/*!
 * IIS project 2019
 * Description: Sass code for site styles.
 * Author: Jiri Jurica (xjuric29)
 */

// Bootstrap sass code import.
@import "../../web-project/vendor/twbs/bootstrap/scss/bootstrap.scss";

// Own variable and mixin definitions.
$grid-breakpoints: map_merge($grid-breakpoints, ("xxl": 1495px)); // Append new breakpoint to bootstrap.

$color-button: #d9544f;

// Main phone breakpoint rules.
.btn-our {  // Define our own button color.
  @include button-variant($color-button, $color-button);
}


.container .col-12 {
  padding: 0;
}

section nav div.dropdown a{
  width: 150px;
  text-align: left;
  position: relative;

  &::after{
    position: absolute;
    right: 10px;
    top: 15px;
  }
}

#searchbox-wrapper {
  margin-top: 1em;
  width: 100%;
}

//Table on main page
table thead tr:first-child th {
  text-transform: uppercase;
}

table tr {
  transition: background-color 0.5s;
}

table tbody tr td a {
  font-weight: bold;
  color: initial;
}

table tbody tr td a:hover {
  color: initial;
}

table tbody tr td a {
  display: block;

}

#paging {
  margin-top: 40px;
}

//Ticked detail
#ticket-detail {
  max-width: 50em;
  margin-top: 0;

  table#ticket-detail-tab {
    display: flex;
    flex-grow: 3;
    border-right: solid 1px;
  }

  table#ticket-detail-tab tbody tr th {
    font-weight: normal;
    width: 10em;
    vertical-align: top;
  }

  table#ticket-detail-tab tbody tr td {
    font-size: 16px;
  }
}

#ticket-item {
  font-size: 16px;
}

.ticket-detail-table {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
}

.ticket-state {
  padding-left: 10px;
  margin-bottom: 3px;
}

.ticked-detail-state {
  font-weight: bold;
  text-transform: uppercase;
}

.ticked-side-details {
  display: flex;
  flex-direction: column;
}

.initials-bg {
  color: white;
}

.comment-wrapper-left {
  padding-top: 1.6em;
}

/*.name-user {
  position: relative;
  left: 3.6em;
  top: -30px;
}*/

/*.date-and-time {
  position: relative;
  left: 3.6em;
  top: -30px;
}*/

.comment-content {
  //border-style: solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  margin-left: 3.6em;
  margin-bottom: 40px;
  max-width: 40em;
}

.comment-user-info { //left side
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.comment-user-info-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle-right, .circle-left {
  width: 40px;
  height: 40px;
  background-color: #6f42c1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-content-right {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  margin-right: 3.6em;
  margin-bottom: 20px;
  max-width: 40em;
  float: right;
}

.name-date-right {
  text-align: right;
  margin-right: 0.7em;
  //margin-bottom: 5px;
  //margin-top: -30px;*/
}

.comment-user-info, .comment-user-info-right {
  margin-bottom: 1em;
}

.name-date-left {
  margin-left: 0.7em;
}

#edit-butt {
  color: #4e555b;
  float: right;
  margin-top: -35px;

  div {
    float: left;
    margin-right: 5px;
  }
  img {
    float: right;
  }
}

#edit-butt:hover {
  color: dodgerblue;
}

.comment-field {
  color: #b3b7bb;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}

img.attach-img {
  max-width: 200px;
}

//Ticked editmode
.drop-type {
  margin-bottom: 0.5rem;
}

.drop-product {
  max-width: 20em;
}

.product-type {
  max-width: 20em;
}

.product-dropdown {
  width: 20em;
  text-align: left;
}

#task-name {
  font-style: italic;
  font-weight: normal;
}

#undefined {
  font-weight: normal;
  font-style: italic;
}

section#ticket-detail .dropdown-toggle::after { //"arrow/triangle" position in dropdown
  position: absolute;
  right: 10px;
  top: 15px;
}

#description-edit {
  display: inline-block;
  width: 50em;
}

.description-edit-field {
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.choose-file {
  background-color: #b3b7bb;
}

#no-file {
  color: #b3b7bb;
  font-style: italic;
}

#save-buttons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.close-but {
  margin-right: 2em;
}

.submit-but {
  margin-right: 2em;
}



//Homepage loggedout

.dropdown-login-form:hover {
  background: none;
  color: black;
}

.dropdown-forgotten-pswd {
  margin-left: 1.5em;
  padding-bottom: 1em;
  font-style: italic;
  color: black;
}

.dropdown-login-button {
  background-color: dodgerblue;
  height: 40px;
  padding-top: 0.6em;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.dropdown-login-button:hover{
  background-color: #1d7ade;
  color: white;
}

.dropdown-error-msg {
  color: red;
  padding-left: 1.7em;
  font-size: 12px;
  padding-bottom: 1em;
}

.dropdown-menu-right {
  padding-bottom: 0;
}

.dropdown-menu {
  overflow: hidden;
}

//Task Editmode
.product-setting {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;

  #product {
    justify-content: flex-start;
  }

  #subproduct {
    justify-content: flex-end;
  }
}

.time-form {
  width: 5em;
}

.activity-notes {
  margin-left: 3.6em;
}

.activity-item {
  padding-right: 2em;
}

table.noted-activity tr th {
  font-weight: normal;
}

section { // Main content of the site.
  margin-top: 80px;

  header {  // Headline and creation ticket button.
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

//Ticket manager
.dropdown-state {
  width: 8em;
  text-align: left;
}

//Task manager
#activity-date-time {
  display: flex;
  align-items: start;
  //justify-content: space-between;
  margin-top: 20px;

  #activity-date {
    align-items: flex-start;
    width: 12em;
    margin-right: 3em;
  }

  #activity-time{
    align-items: flex-end;
    width: 5em;
    margin-right: 3em;
  }
  #activity-time2 {
    width: 5em;
  }
}

.noted-activity {
  border-right: 0px;
}

//Users detail edit
#exampleFormControlInput4 {
  width: 20em;
}

//User table
.action-buttons {
  display: flex;
  //justify-content: space-around;
  align-content: flex-start;
  margin-bottom: 1em;
}

.supervisor-options {
  margin-right: 3em;
}

//User profile
.name-surname {
  border-left: solid 1px;
  padding-left: 2em;
}

.profile-name {
  text-transform: uppercase;
}

#profile-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#edit-but-2 {
  display: flex;
  justify-content: space-between;
 // align-items: flex-start;

  #edit-text {
    margin-right: 0.5em;
  }
}

//Products table
.subproduct-name {
  font-weight: bolder;
}

.name-href {
  font-weight: normal;
}


// Extended tablet rules.
@media (min-width: map-get($grid-breakpoints, lg)) {
  #searchbox-wrapper {
    margin-top: 0;
    width: 35%;
    min-width: 250px;
  }
}

// Extended computer rules.
@media (min-width: map-get($grid-breakpoints, xl)) {
  .navbar {
    height: 130px;

    .container {
      .col-12 {
        display: flex;  // Keep elements in navbar in same row.
        padding: 0;

        .navbar-brand {
          font-size: 2.5em; // Size of project name in header.
        }

        .nav-item {
          font-size: 1.625em;
        }
      }
    }
  }

  #searchbox-wrapper {
    margin-top: 0;
    width: 40%;
  }
}

// Define new breakpoint container size.
@media (min-width: map-get($grid-breakpoints, xxl)) {
  .container {  // Define new size of container for xxl breakpoint size.
    max-width: map-get($grid-breakpoints, xxl) - 60 !important;
  }
}
