/*!
 * IIS project 2019
 * Description: Sass code for site styles.
 * Author: Jiri Jurica (xjuric29)
 */

// Bootstrap sass code import.
@import "../../web-project/vendor/twbs/bootstrap/scss/bootstrap.scss";

// Own variable and mixin definitions.
$grid-breakpoints: map_merge($grid-breakpoints, ("xxl": 1495px)); // Append new breakpoint to bootstrap.

$color-button: #d9544f;

// Main phone breakpoint rules.
.btn-our {  // Define our own button color.
  @include button-variant($color-button, $color-button);
}


.container .col-12 {
  padding: 0;
}

section nav div.dropdown a{
  width: 150px;
  text-align: left;
  position: relative;

  &::after{
    position: absolute;
    right: 10px;
    top: 15px;
  }
}

#searchbox-wrapper {
  margin-top: 1em;
  width: 100%;
}

//Table on main page
table thead tr:first-child th {
  text-transform: uppercase;
}

table tr {
  transition: background-color 0.5s;
}

table tbody tr td a {
  font-weight: bold;
  color: initial;
}

table tbody tr td a:hover {
  color: initial;
}

table tbody tr td a {
  display: block;

}

#paging {
  margin-top: 40px;
}

//Ticked detail
#ticket-detail {
  max-width: 50em;
  margin-top: 0;

  table {
    margin-top: 30px;
  }

  table tbody tr th {
    font-weight: normal;
    width: 10em;
    vertical-align: top;
  }

  table tbody tr td {
    font-size: 16px;
  }
}

#ticket-item {
  font-size: 16px;
}

.initials-bg {
  background-color: #6f42c1;
  padding: 10px;
  color: white;
}

.comment-wrapper-left {
  padding-left: 10px;
  padding-top: 20px;
}

.name-user {
  position: relative;
  left: 50px;
  top: -30px;
}

.date-and-time {
  position: relative;
  left: 50px;
  top: -30px;
}

.comment-content {
  //border-style: solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  margin-top: -25px;
  margin-left: 50px;
  margin-bottom: 40px;
  max-width: 40em;
}

.circle-right {
  margin-left: 650px;
}

.comment-content-right {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  background-color: whitesmoke;
  margin-right: 60px;
  margin-bottom: 20px;
  max-width: 40em;
  float: right;
}

#name-date-right {
  text-align: right;
  margin-right: 60px;
  margin-bottom: 5px;
  margin-top: -30px;
}

#edit-butt {
  color: #4e555b;
  float: right;
  margin-top: -35px;

  div {
    float: left;
    margin-right: 5px;
  }
  img {
    float: right;
  }
}

#edit-butt:hover {
  color: dodgerblue;
}

.comment-field {
  color: #b3b7bb;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}

img.attach-img {
  max-width: 200px;
}

.drop-type {
  margin-bottom: 0.5rem;
}

.drop-product {
  max-width: 20em;
}

#product-type {
  margin-top: 30px;
  max-width: 20em;
}

section { // Main content of the site.
  margin-top: 80px;

  header {  // Headline and creation ticket button.
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Extended tablet rules.
@media (min-width: map-get($grid-breakpoints, lg)) {
  #searchbox-wrapper {
    margin-top: 0;
    width: 35%;
    min-width: 250px;
  }
}

// Extended computer rules.
@media (min-width: map-get($grid-breakpoints, xl)) {
  .navbar {
    height: 130px;

    .container {
      .col-12 {
        display: flex;  // Keep elements in navbar in same row.
        padding: 0;

        .navbar-brand {
          font-size: 2.5em; // Size of project name in header.
        }

        .nav-item {
          font-size: 1.625em;
        }
      }
    }
  }
}

// Define new breakpoint container size.
@media (min-width: map-get($grid-breakpoints, xxl)) {
  .container {  // Define new size of container for xxl breakpoint size.
    max-width: map-get($grid-breakpoints, xxl) - 60 !important;
  }
}
