parameters:

application:
	debugger: true
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Model\Authenticator

	# DB functions
	- App\Model\viewTickets
	- App\Model\viewTasks
	- App\Model\Comments
	- App\Model\User
