parameters:

application:
	debugger: true
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

services:
	router: App\Router\RouterFactory::createRouter

	# DB functions
	- App\Model\Tickets
